@use 'base/fonts';
@use 'base/reset';
@use 'base/generales';
@use 'components/header';
@use 'components/footer';
@use 'sections/main';
@use 'pages/destinos';
@use 'pages/promociones';
@use 'pages/contacto';
@use 'base/queries';
