/* MAIN */
//@use '../utilities/variables';
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';
@use '../utilities/extend';


.banner {
    margin-bottom: 20px;
    position: relative;
        img {
        width: 100%;
        z-index: 0;
    }
}
main{
    section{
        .titulo {
            @include mixin.flex-center(flex,center,center);
            margin: 20px 0;
        }
        .row{
            .col{
                p{
                    margin: 20px 0;
                }
            }
            .nosotros {
                h3 {
                    text-transform: uppercase;
                }
                p{
                    margin: 10px 0;
                }
            } 
        }
    }
    .promociones-destacadas{
        .row{
            .columna-Promociones {
                position: relative;
                @include mixin.flex-center(flex,center,center);
                img {
                    @extend %EstiloImg;
                }
                
                .mas-info {
                    @include mixin.mas-info(absolute,15px);
                }
                p {
                    position: absolute;
                    color: white;
                    top: 10px;
                    @include mixin.texto-uppercase(uppercase,400);
                    font-size: 18px;
                    z-index: 2;
                    margin: 5px 0;
                    padding: 5px;
                }
            }
        }
    }
}
.columna-1 {
    width: 100%;
    margin: 20px;
    @include mixin.flex-center(flex,center,center);
    flex-direction: column;
}

.carousel-indicators [data-bs-slide-to] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: map.get(mapa.$colores,color-terciario);
    &:hover {
        background-color: map.get(mapa.$colores,color-carousel-button-hover);
    }
}

.carousel-control-prev {
    color: map.get(mapa.$colores,color-carousel-control-prev);
}
.carousel-control-prev-icon {
    color: map.get(mapa.$colores,color-terciario);
}

.carousel-icono-anterior img {
    width: 40px;
}

.carousel-icono-siguiente img {
    width: 40px;
}

#BotonMasInfo {
    @extend %Boton-mas-info;
    margin: 5px 10px;
    &:hover {
        background-color: map.get(mapa.$colores,color-botonInfo-hover);
    }
}

.grillaIndex {
    display: grid;
    /* mixin */ 
    @include mixin.grid-Rows-Columna(2,1fr,3,1fr);
    gap: 20px;
    div{
        img{
            @extend %EstiloImg;
        }
    }
}

.columna-3 {
    position: relative;
    @include mixin.flex-center(flex,center,center);
    flex-direction: column;
    img {
        @extend %EstiloImg;
    }
        p {
        position: absolute;
        color: white;
        @include mixin.texto-uppercase(uppercase,600);
        font-size: 24px;
        }
    .mas-info {
        @include mixin.mas-info(absolute,15px);    
    }
}

/* FIN DE MAIN */