/* MAIN */
//@use '../utilities/variables';
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';

/* En entrega 2 , creo que no se usa*/
// .mas-info a {
//     color: white;
//     text-decoration: none;
//  }

.banner {
    margin-bottom: 20px;
    position: relative;
        img {
        width: 100%;
        z-index: 0;
    }
}


.columna-1 {
    width: 100%;
    margin: 20px;
    @include mixin.flex-center(flex,center,center);
    flex-direction: column;
}

.nosotros {
    h3 {
        text-transform: uppercase;
    }
}

.carousel-indicators [data-bs-slide-to] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: map.get(mapa.$colores,color-terciario);
    &:hover {
        background-color: #7946d7;
    }
}

.carousel-control-prev {
    color: #4d0945;
}
.carousel-control-prev-icon {
    color: map.get(mapa.$colores,color-terciario);
}

.carousel-icono-anterior img {
    width: 40px;
}

.carousel-icono-siguiente img {
    width: 40px;
}

#BotonMasInfo {
    border-radius: 100px;
    border: 2px solid map.get(mapa.$colores,color-terciario);
    color: white;
    background-color: #270e558a;
    &:hover {
        background-color: #50289992;
    }
}

.grillaIndex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    div{
        img{
            width: 100%;
        }
    }
}

.columna-3 {
    position: relative;
    @include mixin.flex-center(flex,center,center);
    flex-direction: column;
    img {
        width: 100%;
        border-radius: 10px;
    }
        p {
        position: absolute;
        color: white;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
    }
    .mas-info {
        @include mixin.mas-info(absolute,15px);    
        /*
        position: absolute;
        bottom: 15px;
        */
    }
}

.columna-Promociones {
    position: relative;
    @include mixin.flex-center(flex,center,center);
    img {
        width: 100%;
        border-radius: 10px;
    }
    
    .mas-info {
        @include mixin.mas-info(absolute,15px);
        /*
        position: absolute;
        bottom: 15px;
        */
    }
    p {
        position: absolute;
        color: white;
        top: 10px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        z-index: 2;
    }
}

.titulo {
    @include mixin.flex-center(flex,center,center);
    margin: 20px 0;
}

/* FIN DE MAIN */