/* CONTACTO */
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/extend';

form {
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
    }

    .nombre {
        &:after {
            @extend %requerido;
        }
    }

    .email {
        &:after {
            @extend %requerido;
        }
    }

    .mensaje {
        &:after {
            @extend %requerido;
        }
    }
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;

    &:focus {
        outline: 2px solid map.get(mapa.$colores, color-terciario);
        outline-offset: 1px;
        border-color: map.get(mapa.$colores, color-terciario);
    }
}


input[aria-invalid="true"] {
    border-color: #dc3545;
}

.boton-enviar {
    width: 100%;
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 600;
    color: map.get(mapa.$colores, color-terciario);
    background: transparent;
    border: 2px solid #502899;
    border-radius: 5px;

    &:hover {
        background: map.get(mapa.$colores, color-terciario);
        color: #fff;
    }
}


.mapa {
    iframe {
        width: 100%;
        height: 300px;
    }
}

/* FIN CONTACTO */