/* CONTACTO */
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/extend';
@use '../utilities/mixin';
@use '../utilities/variables';

main{
    section{
        .row{
            .col{
                form{
                    margin: 10px 0;
                    padding: 10px;
                    div{
                        label {
                            display: block;
                            margin-bottom: 5px;
                            font-weight: bold;
                            color:map.get(mapa.$colores,color-form-label);
                            padding: 10px 0;
                            margin: 5px 0;
                        }
                        .nombre {
                            &:after {
                                @extend %requerido;
                            }
                        }
                        .email {
                            &:after {
                                @extend %requerido;
                            }
                        }
                        .mensaje {
                            &:after {
                                @extend %requerido;
                            }
                        }                        
                        input,
                        textarea {
                            width: 100%;
                            padding: 10px;
                            margin: 2px 0;
                            border: 1px solid map.get(mapa.$colores, color-form-input);
                            border-radius: 4px;
                            font-size: 14px;
                            box-sizing: border-box;
                            &:focus {
                                outline: 2px solid map.get(mapa.$colores, color-terciario);
                                outline-offset: 1px;
                                border-color: map.get(mapa.$colores, color-terciario);
                            }
                        }
                        input[aria-invalid="true"] {
                            border-color: map.get(mapa.$colores, color-form-invalid);
                        }
                    }
                    .boton-enviar {
                        @extend %boton-enviar-mensaje;
                        width: 100%;
                        padding: 12px 35px;
                        font-size: 16px;
                        font-weight: 600;
                        &:hover {//posiciono el borde
                            background-color: map.get(mapa.$colores, color-botonInfo-hover);
                            color: map.get(mapa.$colores,color-terciario); 
                            &::before {
                                width: 100%;
                            }
                            &::after {
                                height: 100%;
                            }
                        }
                        ////////
                        &::before {
                            @extend %TransicionBotones;
                            width: 0;
                            height: 100%;
                            border-width: 2px 0 2px 0;
                        }
                        &::after {
                            @extend %TransicionBotones;
                            width: 100%;
                            height: 0;
                            border-width: 0 2px 0 2px;
                        }
                    }    
                }
            }
            .columna-mapa{
                @include mixin.flex-center(flex,space-between,normal);
                flex-direction: column;
                h2{
                    font-size: 1.75rem;
                }
                div{
                    margin: 5px;
                    padding: 5px 0;
                    p{
                        margin: 5px 0;
                    }
                }
                .mapa {
                    iframe {
                        width: 100%;
                        height: 300px;
                    }
                }
            }
        }
    }
} 
/* FIN CONTACTO */