/* DESTINOS */
@use '../utilities/mixin';
@use '../utilities/variables';
@use '../utilities/extend';

main{
    .destinos {
        .row{
            .columna-3-destinos{
                position: relative;
                @include mixin.flex-center(flex,center,center);
                flex-direction: column;
    
                .contenedorimagenDestinos {
                    @extend %TransicionesImagenes;
                    &:hover{
                    img{
                        transform:scale(1.1); 
                        }
                    }   
                    img {
                        @extend %EstiloImg;
                        transition: transform variables.$speed-scale-img;
                        display: block;
                    }
                }    
                    p {
                    position: absolute;
                    color: white;
                    @include mixin.texto-uppercase(uppercase,600);
                    font-size: 24px;
                    }
                .mas-info {
                    @include mixin.mas-info(absolute,15px);    
                }                
            }
            .columna-destinos{
                .grilla-destinos {
                    @include mixin.flex-center(grid, center, center);
                    @include mixin.grid-Rows-Columna(1, 1fr, 3, 1fr);
                    gap: 20px;
                    .caja {
                        width: 100%;
                        @include mixin.flex-center(flex, center, center);
                        flex-direction: column;
                        margin: 10px 0;
                        border-radius: variables.$Img-border-radius;
                        .contenedorimagenEscapadas {
                            @extend %TransicionesImagenes;
                            &:hover{
                            img{
                                transform:scale(1.1); 
                                }
                            }   
                            img {
                                @extend %EstiloImg;
                                transition: transform variables.$speed-scale-img;
                                display: block;
                            }
                        }  

                        p {
                            font-family: variables.$fuentes;
                            @include mixin.texto-uppercase(uppercase, 600);
                        }
                    }
                }
                h2 {
                    font-family: variables.$fuentes;
                    @include mixin.texto-uppercase(uppercase, 600);
                    font-size: 1.25rem;
                }

                p {
                    font-family: variables.$fuentes;
                    margin: 10px 0;
                    padding: 5px;
                }
            }
        }

    }

}


/* FIN DESTINO */