/* DESTINOS */
@use '../utilities/mixin';
@use '../utilities/variables';
@use '../utilities/extend';

.destinos {
    .grilla-destinos {
        @include mixin.flex-center(grid, center, center);
        @include mixin.grid-Rows-Columna(1, 1fr, 3, 1fr);
        gap: 20px;

        img {
            @extend %EstiloImg;
        }

        .caja {
            width: 100%;
            @include mixin.flex-center(flex, center, center);
            flex-direction: column;
            margin: 10px 0;
            p {
                font-family: variables.$fuentes;
                @include mixin.texto-uppercase(uppercase, 400);
            }
        }
    }

    h5 {
        font-family: variables.$fuentes;
        @include mixin.texto-uppercase(uppercase, 600);
    }

    p {
        font-family: variables.$fuentes;
        margin: 10px 0;
        padding: 5px;
    }
}


/* FIN DESTINO */