/* DESTINOS */

.destinos{
    .grilla-destinos {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        /* border: 2px solid black; */
        gap: 20px;
        justify-content: center;
        align-items: center;
        img {
            border-radius: 10px;
            width: 100%;
        }
        .caja {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                font-family: "Montserrat", sans-serif;
                text-transform: uppercase;
                font-weight: 400;
            }
        }
    }
    h5 {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
    }
    p {
        font-family: "Montserrat", sans-serif;
    }
}



/* FIN DESTINO */