@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';

/* NOSOTROS */
main{
    .container-nosotros{
        .row{
            .nosotros{
                padding: 5px;
                h2{
                    text-transform: uppercase;
                    font-size: 1.75rem;
                    font-weight: 500;
                    line-height: 1.2;
                    margin: 10px 5px 10px 5px;
                }
                p {
                    margin: 10px 5px 10px 5px;
                }
            }
        }
    }
}