/* PROMOCIONES */
@use '../utilities/mixin';
@use 'sass:map';
@use '../utilities/maps' as mapa;

.columna-2 {
    margin: 20px;
}
/* CREO QUE NO SE USA ESTE 
.card{
    .fondo-opacidad {
        background-color: #1313136d;
    }
} 
*/
section{
    .grilla-promociones {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
        justify-content: center;
        align-content: center;
        div {
            position: relative;
            display: flex;
            justify-content: center;
            p {
                width: auto;
                position: absolute;
                top: 20px;
                color: map.get(mapa.$colores, color-secundario);
                font-size: 24px;
                text-transform: uppercase;
            }
            .mas-info {
                @include mixin.mas-info(absolute,20px);                
            }
        }
        img {
            border-radius: 10px;
            width: 100%;
        }
    }   
}

/* FIN PROMOCIONES */