/* PROMOCIONES */
@use '../utilities/mixin';

.columna-2 {
    margin: 20px;
}

.card{
    .fondo-opacidad {
        background-color: #1313136d;
    }
} 
section{
    .grilla-promociones {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
        justify-content: center;
        align-content: center;
        div {
            position: relative;
            /* border:  2px solid black; */
            display: flex;
            justify-content: center;
            p {
                width: auto;
                position: absolute;
                top: 20px;
                color: white;
                font-size: 24px;
                text-transform: uppercase;
            }
            .mas-info {
                @include mixin.mas-info(absolute,20px);                
                /*
                position: absolute;
                bottom: 20px;
                */
            }
        }
        img {
            border-radius: 10px;
            width: 100%;
        }
    }   
}

/* FIN PROMOCIONES */