* {
    /* RESET CSS*/

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    /* background-color: #e6d8fe; */
     background-color: #ffffff;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Montserrat", sans-serif;
}
h1 {
    border-bottom: 1px solid rgba(69, 69, 69, 0.195);
    padding-bottom: 10px;
}
/* HEADER */
header {
    /* margin-bottom: 20px; */
    padding: 20px;
    /* background-color: #e2cef0; */
    background-color: #f4eaff;
    
}

header a {
    text-decoration: none;
    text-transform: uppercase;

}

.navbar-nav .nav-link {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: #7c2872;
}

.navbar-nav .activo {
    color: #7c2872;
}

header .navbar-brand img {
    width: 150px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.2rem #7c2872;
    border-color:#4d094529

}
.navbar-toggler{
    /* border: 1px solid #7c2872; */
}
.navbar-toggler-icon{
    background-image: url(../img/menu.png);
}
/* FOOTER */

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #3c3c3c;
    color: white;
}

footer h6 {
    /* margin-top: 10px; */
    padding: 10px;
    border-bottom: 1px solid rgba(93, 93, 93, 0.763);
}

footer .container .row .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 1fr;     */
}

footer .container .row .footer .columna {
    padding: 10px;
    /* border: 1px solid white; */
    align-items: flex-start;
    font-size: 14px;
    margin-left: 10px;
}

.p-footer {
    /* text-transform: capitalize; */
    margin-bottom: 5px
}

.p-footer a {
    text-decoration: none;
    color: white;
}

.p-footer i {
    color: rgb(144, 142, 142);
    margin-right: 5px;
    font-size: 16px;
}
.copyright p {
    font-size: 13px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
}

.newsletter input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    text-align: center;
}

/* .boton-news {
    background-color: #502899;
    color: white;
} */
.boton-news {
    width: 100%;
    padding: 5px 15px;
    font-size: 16px;
    /* font-weight: 600; */
    color: white;
    background: #502899;
    border: 2px solid #502899;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-news:hover {
    background: #50289960;
    color: #fff;
}
/* MAIN */
h1 {
    margin: 20px;
}

/* .mas-info {
    background-color: #502899;
    height: 30px;
    width: 80px;
    margin: 20px;
} */

.mas-info a {
    color: white;
    text-decoration: none;
}

.banner {
    margin-bottom: 20px;
    position: relative;
}

.banner img {
    width: 100%;
    z-index: 0;
}

.columna-1 {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros h3 {
    text-transform: uppercase;
}

.carousel-indicators [data-bs-slide-to] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #502899;
}

.carousel-control-prev {
    color: #4d0945;
}

.carousel-indicators [data-bs-slide-to]:hover {
    background-color: #7946d7;
}

#BotonMasInfo {
    border-radius: 100px;
    border: 2px solid #502899;
    color: white;
    background-color: #270e558a;
}

#BotonMasInfo:hover {
    background-color: #50289992;
}

.grillaIndex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    /* border: 2px solid black; */
}

.grillaIndex div {
    /* border: 2px solid black; */
}

.grillaIndex div img {
    /* border: 2px solida rgb(71, 1, 55); */
    width: 100%;
}

.columna-3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid black; */
}

.columna-Promociones {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}
.columna-Promociones img {
    width: 100%;
    border-radius: 10px;
}

.columna-Promociones .mas-info {
    position: absolute;
    bottom: 15px;
}

.columna-Promociones p{
    position: absolute;
    color: white;
    top: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    z-index: 2;
}

.columna-3 img {
    width: 100%;
    border-radius: 10px;
}
.columna-3 p {
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}
.columna-3 .mas-info {
    position: absolute;
    bottom: 15px;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* .promociones-destacadas{
    margin:0 20;

} */
/* INDEX */
/*  REVISAR PORQUE MODIFICA EL FOOTER

.destinosDestacados h2,p {
    margin: 20px;
} */

/* DESTINOS */
.destinos .grilla-destinos {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* border: 2px solid black; */
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.destinos .grilla-destinos img {
    border-radius: 10px;
    width: 100%;
}

.destinos .grilla-destinos .caja {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.destinos .grilla-destinos .caja p{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
.destinos h5 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.destinos p {
    font-family: "Montserrat", sans-serif;
}
.carousel-control-prev-icon{
    color: #502899;
}
.carousel-icono-anterior img{
    width: 40px;
}
.carousel-icono-siguiente img{
    width: 40px;
}
/* .columna-3 {
    margin: 20px;
} */

/* PROMOCIONES */
.columna-2 {
    margin: 20px;
}
.card .fondo-opacidad{
    background-color: #1313136d;
}
section .grilla-promociones{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: repeat(1,1fr);
    /* height: 100vh; */
    gap: 20px;
    justify-content: center;
    align-content: center;
    
}
section .grilla-promociones div{
    position: relative;
    /* border:  2px solid black; */
    display: flex;
    justify-content:center;
    
}
section .grilla-promociones img{
    border-radius: 10px;
    width: 100%;
}
section .grilla-promociones div p{
    width: auto;
    position: absolute;
    /* top:calc(50% - 19px); */
    top: 20px;
    /* left: calc(50% - 46px); */
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    /* z-index: 2;
    opacity: 0; */
}
section .grilla-promociones div .mas-info{
    position: absolute;
    bottom: 20px;
    /* top:calc(50% - 19px);
    left: calc(50% - 46px); */
}
/* CONTACTO */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form .nombre:after {
    content: "*(requerido)";
    font-size: 12px;
    font-style: italic;
    color: rgba(255, 0, 0, 0.632);
}

form .email:after {
    content: "*(requerido)";
    font-size: 12px;
    font-style: italic;
    color: rgba(255, 0, 0, 0.632);
}
form .mensaje:after {
    content: "*(requerido)";
    font-size: 12px;
    font-style: italic;
    color: rgba(255, 0, 0, 0.632);
}
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea:focus {
    outline: 2px solid #502899;
    outline-offset: 1px;
    border-color: #502899;
}

input:focus {
    outline: 2px solid #502899;
    outline-offset: 1px;
    border-color: #502899;
}

input[aria-invalid="true"] {
    border-color: #dc3545;
}

.boton-enviar {
    width: 100%;
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 600;
    color: #502899;
    background: transparent;
    border: 2px solid #502899;
    border-radius: 5px;
}

.boton-enviar:hover {
    background: #502899;
    color: #fff;
}

.mapa iframe {
    width: 100%;
    height: 300px;
}

/* .mapa{
    border: 2px solid black;
    width: 100%;
} */
/* BORRAR ***/
.datosContacto {
    margin: 20px;
}

.datosContacto p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.datosContacto h3 {
    text-transform: uppercase;
}

.formulario {
    background-color: #cbb3f3;
    width: 400px;
    margin-left: 20px;
}

.formulario input {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    text-align: center;
}

.formulario-label {
    margin: 10px;
    font-size: 12px;
    font-style: italic;
}

.formulario textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
}

/*DESKTOP FIRST*/
@media (max-width: 991px) {
    .grillaIndex {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    footer .container .row .footer {
        flex-direction: column;
        /* grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 3fr 1fr;     */
    }

    footer .container .row .footer .columna {
        border-top: 1px solid rgba(93, 93, 93, 0.763);
        margin-left: 10px;
    }

    footer h6 {
        /* margin-top: 10px; */
        /* margin-bottom: 20px; */
        border-bottom: none
    }

    .columna-Promociones p{
        font-size: 24px;
    }
    /*DESTINOS*/
    .destinos .grilla-destinos {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);

    }

    .destinos .grilla-destinos img {
        width: 100%;
    }
    /* CONTACTO*/
    .columna-mapa{
        border-top: 1px solid rgba(93, 93, 93, 0.763);
    }
    /* PROMOCIONES*/
    section .grilla-promociones{
        grid-template-rows: repeat(1,1fr);
        grid-template-columns: repeat(2,1fr);
        
    }
    section .grilla-promociones img{
        width: 100%;

    }    
}

/* 360 a 480pxmobile */
@media (max-width:480px) {
    .grillaIndex {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    /*DESTINOS*/
    .destinos .grilla-destinos img {
        width: 100%;
    }
    /*PROMOCIONES*/
    section .grilla-promociones{
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(1,1fr);
        
    }    
    section .grilla-promociones div p{
        top:calc(50% - 40px);
    }    
}