$colores:(
    color-primario: #000000,
    color-secundario: #ffffff,
    color-terciario: #502899,
    color-background-header:#f4eaff,
    color-subrayado: #7c2872,
    color-h1-border: rgba(69, 69, 69, 0.195),
    color-carousel-button-hover: #7946d7,
    color-carousel-control-prev: #4d0945,
    color-botonInfo-fondo:#270e558a,
    color-botonInfo-hover: #50289992,
    /* FOOTER */
    color-footer-fondo: #3c3c3c,
    color-footer-border: rgba(93, 93, 93, 0.763),
    color-botonNews-hover:rgba(80, 40, 153, 0.3764705882),
    color-redes: rgb(144, 142, 142),
    /* FORM */
    color-form-label:#333,
    color-form-input:#ddd,
    color-form-invalid : #dc3545,
    color-nav-toggler-border: #4d094529,
);