$colores:(
    color-primario: #000000,
    color-secundario: #ffffff,
    color-terciario: #502899,
    color-subrayado: #7c2872,
    color-redes: rgb(144, 142, 142),
    color-footer-fondo: #3c3c3c,
    color-footer-border: rgba(93, 93, 93, 0.763),
);