/* FOOTER */
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: map.get(mapa.$colores,color-footer-fondo);
    //background-color: #3c3c3c;
    color: map.get(mapa.$colores,color-secundario);
        h6 {
        padding: 10px;
        border-bottom: map.get(mapa.$colores,color-footer-border);
        //border-bottom: 1px solid rgba(93, 93, 93, 0.763);
    }
    .container{
        .row{
            .footer{
                @include mixin.flex-center(flex,center,start);
                flex-direction: row;
                /*
                display: flex;
                flex-direction: row;
                justify-content: center;*/
                .columna {
                    padding: 10px;
                    align-items: flex-start;
                    font-size: 14px;
                    margin-left: 10px;
                }               
            }
        }
    }
}
.p-footer {
    margin-bottom: 5px;
    a {
        text-decoration: none;
        color: map.get(mapa.$colores,color-secundario);
    }
    i {
        color: map.get(mapa.$colores,color-redes);
        //color: rgb(144, 142, 142);
        margin-right: 5px;
        font-size: 16px;
    }    
}
.copyright{
    @include mixin.flex-center(flex,center,center);
    p {
        font-size: 13px;
        @include mixin.flex-center(flex,center,center);        
        //display: flex;
        //justify-content: center;
    }
}
.newsletter{
    input {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 35px;
        text-align: center;
    }
}

.boton-news {
    width: 100%;
    padding: 5px 15px;
    font-size: 16px;
    color: map.get(mapa.$colores,color-secundario);
    background: map.get(mapa.$colores,color-terciario);
    border: 2px solid map.get(mapa.$colores,color-terciario);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background: #50289960;
        color: map.get(mapa.$colores,color-secundario);
    }
}

/* FIN FOOTER */