/* FOOTER */
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';
@use '../utilities/variables';
@use '../utilities/extend';

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: map.get(mapa.$colores, color-footer-fondo);
    color: map.get(mapa.$colores, color-secundario);

    .container {
        .row {
            .footer {
                @include mixin.flex-center(flex, center, start);
                flex-direction: row;
                .columna {
                    padding: 10px;
                    margin: 5px;
                    align-items: flex-start;
                    font-size: 14px;
                    margin-left: 10px;
                    h6 {
                        padding: 0 5px;
                        margin: 5px 0;
                        font-weight: bold;
                        border-bottom: map.get(mapa.$colores, color-footer-border);
                    }
                    h3 {
                        padding: 0 5px;
                        margin: 5px 0;
                        font-weight: bold;
                        border-bottom: map.get(mapa.$colores, color-footer-border);
                        font-size: 1rem;
                        line-height: 1.2;
                    }
                    .p-footer {
                        padding: 0 5px;
                        margin: 5px 0;
                        a {
                            text-decoration: none;
                            color: map.get(mapa.$colores, color-secundario);
                        }
                        i {
                            color: map.get(mapa.$colores, color-redes);
                            margin-right: 5px;
                            font-size: 16px;
                        }
                    }
                    .newsletter {
                        input {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            width: 100%;
                            height: 35px;
                            text-align: center;
                        }
                    }
                    .boton-news {
                        @extend %Boton-mas-info;
                        width: 100%;
                        padding: 5px 15px;
                        font-size: 16px;
                        &:hover {//posiciono el borde
                            background-color: map.get(mapa.$colores, color-botonInfo-hover);
                            &::before {
                                width: 100%;
                            }
                            &::after {
                                height: 100%;
                            }
                        }
                        ////////
                        &::before {
                            @extend %TransicionBotones;
                            width: 0;
                            height: 100%;
                            border-width: 2px 0 2px 0;
                        }
                        &::after {
                            @extend %TransicionBotones;
                            width: 100%;
                            height: 0;
                            border-width: 0 2px 0 2px;
                        }
                    }
                }
                .copyright {
                    @include mixin.flex-center(flex, center, center);
                    p {
                        margin: 5px;
                        padding: 5px;
                        font-size: 13px;
                        @include mixin.flex-center(flex, center, center);
                    }
                }
            }
        }
    }
}


/* FIN FOOTER */