/* HEADER */
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';

header {
    padding: 20px;
    background-color: #f4eaff;
    a {
        text-decoration: none;
        text-transform: uppercase;
    }
    .navbar-brand img {
        width: 150px;
    }    
}
.navbar-nav{
    .nav-link {
        position: relative; // Importante para posicionar el ::after
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 16px;
        margin: 5px 10px;
        
        // Pseudo-elemento para el subrayado animado
        &::after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 0;
            height: 2px; // Grosor del subrayado
            background-color: map.get(mapa.$colores, color-subrayado);
            transition: width 0.3s ease; // Velocidad de la animación
        }
        
        &:hover {
            color: map.get(mapa.$colores, color-subrayado);
            
            // Expande el subrayado al 100%
            &::after {
                width: 100%;
            }
        }
    }
    
    .activo {
        color: map.get(mapa.$colores, color-subrayado);
    }    
}
/*
Antes de la animacion
.navbar-nav{
    .nav-link {
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 16px;
        margin: 5px 10px;  
        &:hover {
            color: map.get(mapa.$colores,color-subrayado);
        }
    }
    .activo {
        color: map.get(mapa.$colores,color-subrayado);
    }    
}
*/
.navbar-toggler {
        &:focus {
        box-shadow: 0 0 0 0.2rem map.get(mapa.$colores,color-subrayado);
        border-color: #4d094529;
    }
    
}

.navbar-toggler-icon {
    background-image: url(../img/menu.png);
}
/* FIN HEADER */