/* HEADER */
header {
    /* margin-bottom: 20px; */
    padding: 20px;
    /* background-color: #e2cef0; */
    background-color: #f4eaff;
    a {
        text-decoration: none;
        text-transform: uppercase;
    }
    .navbar-brand img {
        width: 150px;
    }    
}
.navbar-nav{
    .nav-link {
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 16px;
        &:hover {
            color: #7c2872;
        }
    }
    .activo {
        color: #7c2872;
    }    
}
/*
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.2rem #7c2872;
    border-color: #4d094529
}
*/
.navbar-toggler {
        &:focus {
        box-shadow: 0 0 0 0.2rem #7c2872;
        border-color: #4d094529;
    }
    /* border: 1px solid #7c2872; */
}

.navbar-toggler-icon {
    background-image: url(../img/menu.png);
}
/* FIN HEADER */