/* HEADER */
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/mixin';
@use '../utilities/variables';

header {
    padding: 20px;
    background-color: map.get(mapa.$colores, color-background-header);
    nav{
        div{
            a {
                text-decoration: none;
                text-transform: uppercase;
            }
            .navbar-brand img {
                width: 150px;
            }   
            div{
                ///////////
                .navbar-nav{
                    .nav-link {
                        padding: 5px;                        
                      //  Aplico el efecto al span interno
                        span {
                            position: relative;
                            display: inline-block;
                            font-weight: 700;
                            letter-spacing: 1px;
                            font-size: 16px;
                            margin: 5px 10px;
                            font-family: variables.$fuentes;
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0;
                                height: 2px;
                                background-color: map.get(mapa.$colores, color-subrayado);
                                transition: width 0.5s ease;
                            }
                        }
                        &:hover {
                            color: map.get(mapa.$colores, color-subrayado);
                            
                            span::after {
                                width: 100%;
                            }
                        }
                    }
                    .activo {
                        color: map.get(mapa.$colores, color-subrayado);
                        transition:none;
                    }    
                }
/// 
            }  
            .navbar-toggler {
                    &:focus {
                    box-shadow: 0 0 0 0.2rem map.get(mapa.$colores,color-subrayado);
                    border-color: map.get(mapa.$colores,color-nav-toggler-border);
                }
                
            }
            .navbar-toggler-icon {
                background-image: url(../img/menu.webp);
            }                     
        }
    }
}

/* FIN HEADER */