/* GENERALES */
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/variables';

body {
    background-color: map.get(mapa.$colores, color-secundario);
    font-family: variables.$fuentes;
}

h1 {
    border-bottom: 1px solid map.get(mapa.$colores, color-h1-border);
    padding-bottom: 10px;
}
/* FIN GENERALES */