/* GENERALES */
@use '../utilities/variables';

body {
    /* background-color: #e6d8fe; */
    background-color: #ffffff;
    /* font-family: "Roboto", sans-serif; */
    //font-family: "Montserrat", sans-serif;
    font-family: variables.$fuentes;
}

h1 {
    border-bottom: 1px solid rgba(69, 69, 69, 0.195);
    padding-bottom: 10px;
}
/* FIN GENERALES */