/*DESKTOP FIRST*/
@use 'sass:map';
@use '../utilities/maps' as mapa;

@media (max-width: 991px) {
    .grillaIndex {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    footer{
        .container{
            .row{
                .footer{
                    flex-direction: column;
                    .columna {
                        border-top: 1px solid map.get(mapa.$colores,color-footer-border);
                        margin-left: 10px;
                    }
                }
            }
        }
        h6 {
            border-bottom: none
        }
    }
    .columna-Promociones{
        p{
            font-size: 24px;
        }
    }

    /*DESTINOS*/
    .destinos{
        .grilla-destinos {
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(1, 1fr);
                img {
                    width: 100%;
                }
        }        
    }

    /* CONTACTO*/
    .columna-mapa {
        border-top: 1px solid map.get(mapa.$colores,color-footer-border);
    }

    /* PROMOCIONES*/
    section{
        .grilla-promociones {
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(2, 1fr);
            img {
                width: 100%;
            }
        }
    }
}

/* 360 a 480pxmobile */
@media (max-width:480px) {
    .grillaIndex {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    /*DESTINOS*/
    .destinos{
        .grilla-destinos{
            img{
                width: 100%;
            }
        }
    }
    /*PROMOCIONES*/
    section{
        .grilla-promociones {
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(1, 1fr);
            div{
                p{
                    top: calc(50% - 40px);
                }
            }
        }
    }
}